.header {
  &__top {
    background-color: #f0f2f4;
    border-bottom: 1px solid #e2e2e2;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 41px 0 32px;

    @media (max-width: 1080px) {
      flex-direction: row;
    }

    @media (max-width: 499px) {
      flex-direction: column;
    }
  }
}

.contacts {
  text-align: right;

  @media (max-width: 1030px) {
    margin-right: 10px;
  }
}

.contact {
  display: inline-block;
  vertical-align: top;
  padding: 12px 9px 8px;
  color: #424242;
  transition: 0.3s;

  &__text {
    letter-spacing: -0.3px;
  }

  &:hover {
    color: lighten(#424242, 20%);
  }

  &:first-child {
    margin-right: 12px;
    padding-right: 18px;
    border-right: 1px solid #e2e2e2;
  }

  &__icon {
    margin-right: 9px;
    margin-top: -2px;
    font-size: 1.5rem;
    vertical-align: middle;

    &--email {
      font-size: 1.2rem;
      margin-right: 8px;
      margin-top: -1px;
    }
  }
}


.facebook-icon {
  display: inline-block;
  margin: 7px 3px;
  padding: 6px 8px 1px;
  border-radius: 3px;
  background-color: #1287bf;
  color: #fff;
}

.logo {
  @media (min-width: 500px) and (max-width: 1080px) {
    margin-left: 20px;
  }

  @media (max-width: 500px) {
    margin-bottom: 15px;
  }
}

