.button {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 22px 7px;
  text-decoration: none;
  color: #ffffff;
}

.button--red {
  margin-right: 3px;
  background: #de2b24;
  transition: 0.3s;

  @media (max-width: 1080px) {
    margin: 0;
    display: block;
    text-align: center;
  }

  &:hover {
    background: lighten(#de2b24, 7%);
  }
}

.button--yellow {
  background: #f8cd53;

  &:hover {
    background: lighten(#f8cd53, 7%);
  }
}

.button--text-uppercase {
  text-transform: uppercase;
}