section#about.about
    .container
        .title.title--with-bottom-line
            h2.title__header About Us
            .title__text We are added out major Services
        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description.
                    Lorem ipsum is simply dummy text of the printing and typesetting industry.
                    Standart dummy text ever

            li.about__item
                .icon.icon-book
                h3.about__header.about__header-book landing pages Creation
                p.about__description.
                    Lorem ipsum is simply dummy text of the printing and typesetting industry.
                    Standart dummy text ever

            li.about__item
                .icon.icon-message
                h3.about__header.about__header-message Ads management
                p.about__description.
                    Lorem ipsum is simply dummy text of the printing and typesetting industry.
                    Standart dummy text ever